h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    margin: 0;
    background-color: blueviolet;
    padding:20px;
    
}
nav {
    background-color: #921c82ab;
    padding: 5px;
    text-align: center;
    margin:0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0px;

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0px;

}

#contacto {
    background-color: #5f2961;
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0;
    width: 100%;
    display: block;
    align-items: center;
}

footer h4 {
    display: inline;
    margin: 0;
    padding: 10px;
}

img {
    width: 200px;
    height: 300px;
    margin-left: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

#gato2 {
    width: 200px;
    height: 150px;
}